#container{
    width: 88%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 3fr 4.3fr;
    gap: 30px;
}

.right-side{
    font-size: 1.05em;
    position: relative;
}

.lists{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
}

h2{
    margin-top: 50px;
    margin-bottom: 20px;
}

#receita-name{
    font-size: 2.2em;
    color: var(--red);
    margin-top: 0;
    margin-bottom: 5px;
}

#receita-rating{
    margin: 0px;
    margin-bottom: 40px;
    color: var(--orange);
}

#receita-rating i{
    margin-right: 5px;
}

#receita-performance,#receita-time{
    font-size: 1.1em;
    font-weight: 900;
    padding: 5px 10px;
    border-radius: 15px;
}

#receita-performance{
    background-color: var(--orange);
    color: var(--white);
}

#receita-time{
    background-color: var(--cyan);
    color: var(--black);
}

.lists{
    margin: 0;
}

.lists li{
    margin-bottom: 10px;
}

.left-side{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: space-between;
}

.left-side img{
    max-width: 49%;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

.left-side img:hover{
    cursor: pointer;
}

#image-show{
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#image-show img{
    height: 80%;
}

#image-show-exit{
    position: fixed;
    top: 0;
    right: 10px;
    margin: 30px;
    font-size: 2em;
}

#comment-area{
    border: 10px solid var(--f2);
    width: 100%;
}

#comment-rating {
    padding: 16px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#comment-rating a{
    font-size: 1.1em;
}

#change-comment-rating i{
    color: var(--orange);
    font-size: 1.5em;
    margin: 0px;
    padding-right: 5px;
}

#comment-user-field{
    background-color: var(--f2);
    margin: 0;
    padding: 10px 4px 5px;
    display: grid;
    grid-template-columns: 25fr 90fr;
}

#comment-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

img{
    object-fit: cover;
}

#comment-user img{
    height: 130px;
    width: 130px;
    border-radius: 100%;
    border: 6px solid var(--red);
    margin: auto;
    margin-right: 20px;
}

#comment-input{
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    background-color: var(--f1);
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
    font-size: 1em;
}

#comment-input::placeholder{
    text-align: center;
    padding-top: 5vh;
    font-size: 1.3em;
}

#comment-field{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#send-comment-area{
    display: inline-flex;
    width: min-content;
    margin-top: calc(-45px - 30px);
    background-color: var(--f2);
    padding: 15px 20px;
    border-radius: 30px 0 0 0;
}

#send-comment-button{
    background: var(--red);
    font-size: 1.1em;
    border-radius: 20px;
    min-width: 10em;
    height: 45px;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--t1);
    border: none;
    outline: none;
}

.unlogged-comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(--f2);
    font-size: 1.1em;
}

.unlogged-comment .button{
    background: var(--red);
    font-size: 1.1em;
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--t1);
    margin-top: 20px;
}

.comment{
    display: flex;
}

.comment img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-right: 20px;
}

.comment-stars{
    color: var(--orange);
}

#comments-section{
    background-color: rgba(255,255,255,.05);
    margin-top: 20px;
    padding: 20px;
    padding-top: 1px;
}

#comments-section hr{
    margin: 30px 0 20px
}

#favourite-button{
    color: var(--favourite);
    font-size: 40px;
    font-weight: bolder;
    position:absolute;
    top: 0;
    right: 12px;
    height: 100px;
}

#noRecipe{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
#noRecipe span {
    color: var(--red);
    border-bottom: 5px solid var(--red)
}

#noRecipe #s{
    color: var(--orange);
    border: none
}

#noRecipe div{
    background: var(--red);
    text-align: center;
    padding: 30px 0;
    border-radius: 30px;
    margin-top: 30px;
}

#noRecipe h2{
    margin: 0;
}

#noRecipe img{
    margin: auto;
}

#see-sugestions{
    border: solid 3px var(--cyan);
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: -50px;
}

#send-sugestions{
    border: solid 3px var(--cyan);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#see-sugestions a,#send-sugestions a{
    color: var(--cyan);
    font-weight: bolder;
}

#sugestions{
    position: fixed;
    top: 10vh;
    left: 0px;
    background-color: var(--f1);
    border-radius: 30px;
    border: solid 5px var(--cyan);
    width: 32.2%;
    height: 80vh;
    margin-left: 4%;
    overflow-y: scroll;
    padding: 0 40px;
}

#close-sugestions{
    position: absolute;
    right: 5px;
}

#sugestions #title{
    text-align: center;
    scroll-margin-top: 50px;
}

#sugestions h2,{
    color: var(--cyan);
}

#sugestions .fa-arrow-turn-down{
    color: var(--cyan);
    margin: 0px 15px;
    transform: scaleX(-1) rotate(90deg);
}

#sugestions ul{
    list-style: none;
    margin: 5px;
    padding: 0;
    padding-left: 15px;
}

#sugestions li{
}

.sugestion-ingredient{
    list-style:disc;
    font-size: 1.1em;
    margin-top: 20px;
}

#sugestions::-webkit-scrollbar {
    width: 16px;
}

/* Track */
#sugestions::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
#sugestions::-webkit-scrollbar-thumb {
    background: var(--cyan); 
    border: solid 6px var(--f1);
    border-radius: 10px;
}

#send-sugestions-form{
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
}

#send-sugestions-form #space{
    background-color: var(--f1);
    margin: auto;
    border-radius: 30px;
    margin-top: 100px;
    border: 3px solid var(--cyan);
    width: 550px;
    padding: 10px 40px;
}

#send-sugestions-form #space h3{
    width: 100%;
    text-align: center;
}

#tabela{
    width: 100%;
    border: solid 10px transparent;
    display: grid;
    grid-template-columns: 8fr 4fr 10fr;
    gap: 10px;
    margin-bottom: 10px;
}

#tabela a {
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#tabela .seta{
    text-align: center;
    background-color: #6ADBFF22;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#tabela input,
#tabela select {
    border: none;
    outline: none;
    background-color: var(--t2);
    border-radius: 10px;
    color: var(--t1);
    padding: 10px 10px;
}

#tabela select,option {
    outline: none;
    border: none;
    font-size: 1em;
    width: 100%;
}

option a{
    padding: 10px 10px;
}

#add-sugestion{
    margin-left: 10px;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 10px;
}

#add-sugestion i{
    color: var(--cyan);
}

#add-sugestion:hover{
    background-color: #6ADBFF22;
}

#user-btn {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    gap: 20px;
}

#user-btn div{
    width: 100px;
    border: solid 3px var(--cyan);
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 15px;
    font-weight: bolder;
}

#sugestion-cancel a{
    color: var(--cyan);
}

#sugestion-send{
    background-color: var(--cyan);
}

#sugestion-send a{
    color: var(--f1);
}