.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: calc(100vh - 85px);
}


.left-side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.select-image {
    max-width: 400px; 
}

.select-image img {
    width: 100%;
}

.thumbnails {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px; 
    gap: 10px;
}

.thumbnail img{
    width: 100%;
    border-radius: 10px;
}
:right-side{
    width: 100%;
}