#ilustrative-image{
    background-image: url(../images/fundo_ingredientes.jpg);
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center 98%;
}

#corpo{
    margin: auto;
    width: 1000px;
}

#profile-picture{
    width: 120px;
    height: 120px;
    overflow: hidden;
    object-fit: contain;
    border: 10px solid var(--f1);
    border-radius: 100%;
    margin-top: -50px;
}

#user-name{
    grid-area: user-name;
    color: var(--red);
    font-size: 1.5em;
    font-weight: 600;
}

.edit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-btn a{
    border: 3px solid var(--orange);
    border-radius: 10px;
    color: var(--orange);
    font-size: 1.2em;
    font-weight: 900;
    padding: 12px 14px 8px;
}

#user-info{
    display: grid;
    margin-top: 10px;
    margin-bottom: 40px;
    grid-template-areas: 
        "user-name seguidores seguindo edit-user"
        "user-name nseguidores nseguindo edit-user";
        grid-template-columns: 50% 15% 15% 20%;
}

#user-bio{
    font-size: 1em;
}

#recipes-view{
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 20px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 25px;
    width: 1300px;
}

h2{
    color: var(--orange);
}

#favourite-recipes, #your-recipes{
    background: var(--f2);
    border-radius: 40px;
    padding: 10px 30px;
    min-height: 50vh;
}

#yr-top{
    display: flex;
    justify-content: space-between;
}

#yr-top a{
    margin-top: 20px;
    max-width: 30%;
}

.recipes-ordener{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.recipe-sample{
    overflow: hidden;
    background-color: var(--f1);
    border-radius: 20px;
    width: 240px;
    max-width: 46%;
    margin-bottom: 20px;
}

.recipe-sample img{
    width: 100%;
    max-height: 250px;
}

.recipe-sample div{
    display: grid;
    grid-template-columns: 1fr .1fr .1fr;
    margin: 10px 20px 10px;
}

.recipe-unity, .recipe-quantity{
    text-align: right;
}

#edit-user-form{
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
}

#form{
    background-color: var(--f1);
    margin: auto;
    border-radius: 30px;
    margin-top: 100px;
    border: 3px solid var(--red);
    width: 550px;
}

#exit-form{
    position: relative;
    max-width: 100%;
    padding: 15px 20px;
    margin: auto;
    text-align: right;
}

#form h2{
    color: var(--red);
    margin: 0;
    text-align: center;
}

#pp-edit-img{
    width: 150px;
    height: 150px;
    margin: 30px auto;
    border-radius: 100%;
}

#form input{
    margin-top: 4px;
}

#form input, #form textarea{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background: var(--f2);
    outline: none;
    padding: 10px;
    border: none;
    max-width: 80%;
    resize: none;
}

#send-info-btn{
    background: var(--red);
    max-width: 80%;
    margin: 20px auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    padding: 14px 20px 10px;
    border-radius: 20px;
}