body {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f7f7f7;
}


.navbar {
   
    background-color: #E02437;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0.2%;
}


.navbar-brand {
  
  text-decoration: none;
  color: white;
    grid-column-start: 3;
    font-size:5vh;
    -webkit-text-stroke: 1.125px white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  align-items: center;
  position: absolute;

  left: 20px;
}

.hamburger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  color: #fff;
}

.bar {
  width: 100%;
  height: 3px;
  background: #fff;
}
.img {
  width: 8.5vh;
  height: 8.5vh;
  margin-bottom: 1.5vh;
  display: flex;
  align-self: center;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9998;
  border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.side-menu.active {
  transform: translateX(0);
}

.side-menu ul {
  list-style-type: none;
  padding: 20px;
}

.side-menu li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px; /* Espaçamento entre o ícone e a palavra */
}



.side-menu a {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.side-menu li:hover {
  background-color: #252424; /* Cor de fundo ao passar o mouse sobre o item do menu */

}

.side-menu li:hover a {
  color: #E02437; /* Cor do texto ao passar o mouse sobre o item do menu */
}
.side-menu li:hover i {
  color: #E02437; /* Cor do texto e do ícone ao passar o mouse sobre o item do menu */
}
.corpotext {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.principal .text {
    flex-basis: 50%;
    padding-right: 40px;
}

.principal h2 {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 20px;
}

.principal p {
    margin: 0 0 20px;
    line-height: 1.5;
}

.principal .image {
    flex-basis: 40%;
    text-align: right;
}

.principal img {
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin: 0;
}
.time {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Membro {
    width: 300px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Membro img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.Membro h3 {
    font-size: 20px;
    margin: 0;
}

.Membro p {
    font-size: 14px;
    margin: 0;
}