body {
    font-family: 'Josefin Sans', sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  .navbar {
   
    background-color: #E02437;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}


.navbar-brand {
  
  text-decoration: none;
  color: white;
    grid-column-start: 3;
    font-size:5vh;
    -webkit-text-stroke: 1.125px white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  align-items: center;
  position: absolute;

  left: 20px;
}

.hamburger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  color: #fff;
}

.bar {
  width: 100%;
  height: 3px;
  background: #fff;
}
.img {
  width: 8.5vh;
  height: 8.5vh;
  margin-bottom: 1.5vh;
  display: flex;
  align-self: center;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9998;
  border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.side-menu.active {
  transform: translateX(0);
}

.side-menu ul {
  list-style-type: none;
  padding: 20px;
}

.side-menu li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px; /* Espaçamento entre o ícone e a palavra */
}



.side-menu a {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.side-menu li:hover {
  background-color: #252424; /* Cor de fundo ao passar o mouse sobre o item do menu */

}

.side-menu li:hover a {
  color: #E02437; /* Cor do texto ao passar o mouse sobre o item do menu */
}
.side-menu li:hover i {
  color: #E02437; /* Cor do texto e do ícone ao passar o mouse sobre o item do menu */
}
.container {
    display: flex;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  
    margin: 5%;
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    color: #888;
    cursor: pointer;
}

.search-input {
    padding-left: 40px;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #E02437;
    border-radius: 10px; 
}
.filter-button {
    display: flex;
    align-items: center;
    background-color: #E02437;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 7px;
    margin-left: 10px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #FC7831;
}

.filter-button span {
    margin-right: 5px;
}

.label-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20%;
  margin-bottom: 40px;
}

.label-container label {
  margin-right: 10px;
}



.label-text {
    font-size: 25px;
    font-weight: bold;
    color:#FC7831;
    font-family: 'Josefin Sans', sans-serif;

}



.loading {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FC7831;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  height: 350px;
  width: 220px;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  border: 1px solid #E02437;
  border-radius: 31px;
}

.card:hover {
}

.card img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover; /* Ajusta a imagem para preencher todo o contêiner */
    border-radius: 10px;
}

.intro {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  background: rgba(27, 27, 27, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition:1;
  opacity: 1;
}


.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;

}

.card-rating {
 
  margin-left: 10px;
  margin-bottom: 10px;
}


.card-rating span {
  color: #FFC107;
  margin-right: 2px;
}

.card-details {
  display: flex;
 
  margin-left: 10px;
  margin-bottom: 10px;
}

.card-details-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.card-details-item span {
  margin-left: 5px;
}

h2 {
  margin: 10px;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}




 /* Adiciona uma fonte personalizada */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Define uma cor de fundo global */
.user-post {
  border: 16px solid #f4f4f4;
  max-width: 768px;
  margin: auto;
  border-radius: 8px;
  margin-bottom: 60px;
}

.recipe-container {
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-name {
  margin-left: 10px;
  color: #E02437;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.recipe-content {
  display: flex;
}



.recipe-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.recipe-details {
  flex: 1;
}

.recipe-steps {
  margin-bottom: 20px;
}

.recipe-interactions {
  display: flex;
  align-items: center;
}

.interaction-icons {
  margin-right: 40%;
}

.interaction-icons i {
  font-size: 20px;
  margin-right: 10px;
  color: #FC7831;
}

.rating-stars i {
  font-size: 24px;
  color: #FC7831;
  margin-right: 5px;
}

/* Adicione essas regras no final do seu arquivo principal.css */

/* Estilos para telas menores */

@media only screen and (max-width: 768px) {
  .container{
  }
  .container>div,.container>button{
    margin-top: 16px;
  }
  .navbar {
    height: 100%;
    width: 100%;
  }

  .navbar-brand {
    font-size: 4vh;
  }
  .user-post {
    border: 8px solid #f4f4f4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img {
    width: 6.5vh;
    height: 6.5vh;
  }

  .side-menu {
    width: 200px;
  }

  #card01{
    display: none;
  }
  #card02{
    display: none;
  }

  #card03{
    display: none;
  }
  .container {
    flex-wrap: wrap;
  }

  .card {
    width: 90%;
  }
  .label-container {
    margin-left: 3%;
  }
  .label-container {
   
    align-items: center;
    margin-left: 0;
    justify-content: center;
  }

  .label-container label {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .card{
    width: 38%;
  }
  .interaction-icons {
    margin-right: 5%;
}
.hamburger-menu {
  width: 20px;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  color: #fff;
}

}

/* Estilos para telas ainda menores */

@media only screen and (max-width: 480px) {
  .navbar-brand {
    font-size: 3.5vh;
  }

  .img {
    width: 5vh;
    height: 5vh;
  }

  .side-menu {
    width: 150px;
  }
}

/* Estilos para telas grandes */




@media (max-width: 1120px) {
  .label-container {
    margin-left: 10%;
  }
  .recipe-content {
    flex-direction: column;
  }
  
  .user-post {
    margin-bottom: 20px;
  }
  .label-container {
    margin-left: 10%;
}

}