body {
    font-family: 'Josefin Sans', sans-serif;
    background: #f4f4f4;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  ::selection {
    background-color: #E02437;
    color: white;
}
  h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    color: #FC7831;
  }

  @keyframes rainbow {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }

  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fade-in 1s ease;
  }

  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  label {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color: black;
  }

  
  input[type="text"],
  input[type="number"],
  input[type="time"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #E02437;
    border-radius: 8px;
    font-size: 16px;
    resize: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  #cadastrar {
    background-color: #E02437;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Josefin Sans', sans-serif;
  }
  input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E02437;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    transition: background-color 0.3s;
  }
  
  .custom-file-upload:hover {
    background-color: #FC7831;
  }

  input[type="submit"]:hover {
    background-color: #FC7831;
  }
  
  form{
    
    margin: auto;
    position: relative;
    left:-10px;
    width: 100%;
  }

  #tempo-preparo 
  {
    width: 20%;
  }

  #quantidade-pessoas
  {
    width: 20%;
  }
  #rendimento{
    width: 20%;
    padding: 10px 10px 10px 10px;
    border: 2px solid #E02437;
    border-radius: 8px;
    font-size: 16px;
    resize: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  
 
  .navbar {
   
    background-color: #E02437;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0.2%;
}


.navbar-brand {
  
  text-decoration: none;
  color: white;
    grid-column-start: 3;
    font-size:5vh;
    -webkit-text-stroke: 1.125px white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  align-items: center;
  position: absolute;

  left: 20px;
}

.hamburger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  color: #fff;
}

.bar {
  width: 100%;
  height: 3px;
  background: #fff;
}
.img {
  width: 8.5vh;
  height: 8.5vh;
  margin-bottom: 1.5vh;
  display: flex;
  align-self: center;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9998;
  border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.side-menu.active {
  transform: translateX(0);
}

.side-menu ul {
  list-style-type: none;
  padding: 20px;
}

.side-menu li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px; /* Espaçamento entre o ícone e a palavra */
}



.side-menu a {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.side-menu li:hover {
  background-color: #252424; /* Cor de fundo ao passar o mouse sobre o item do menu */

}

.side-menu li:hover a {
  color: #E02437; /* Cor do texto ao passar o mouse sobre o item do menu */
}
.side-menu li:hover i {
  color: #E02437; /* Cor do texto e do ícone ao passar o mouse sobre o item do menu */
}
  #quantidade-pessoas
  {
    width: 30%;
  }
  #rendimento{
    width: 50%;
    padding: 10px 10px 10px 10px;
    border: 2px solid #E02437;
    border-radius: 8px;
    font-size: 16px;
    resize: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  #tempo-preparo 
  {
    width: 50%;
  }
  .agrupar{
    display: grid;
    grid-gap: 10px; /* Espaçamento entre os elementos */
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      padding: 20px;
    }
  
    h1 {
      font-size: 24px;
    }
  }