body {
    margin: 0;
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .inputError{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #f55;
  }
  
  #container_grande {
    grid-column-start: 1;
    display: flex;
    justify-content: center;
  }
  
  #grid_container {
    display: grid;
    grid-template-rows: 20% 8% 35% 6% 10%;
  }
  
  #div_logo {
    grid-row-start: 1;
  }
  
  ul {
    margin-right: 40px;
  }
  
  ul li {
    list-style: none;
    display: inline-block;
    align-self: center;
    padding-right: 4px;
  }
  
  #texto_logo {
    font-size: 4.5vw;
    font-family: 'Josefin Sans', sans-serif;
    /* não consegui fazer o degrade no texto, dps me ajudem com isso pfv */
    -webkit-text-stroke: 2px #E02437;
    color: #E02437;
  }
  
  #logo {
    width: 4.5vw;
    height: 4.5vw;
  }
  
  #boas_vindas {
    font-size: 2vw;
    font-family: 'Josefin Sans', sans-serif;
    color: #00A3FF;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
  }
  
  form {
    grid-row-start: 3;
  }
  
  label {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5vw;
  }
  
  input {
    font-size: 1vw;
    border: none;
    padding: 0.5vw;
    border-radius: 4px;
    width: 96.6%;
    background: #D9D9D9;
  }
  
  #esqueceu {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5vw;
    color: #00A3FF;
    text-decoration: underline;
  }
  
  .butao {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: center; /* centraliza o botão verticalmente */
    padding-top: 0.1vw;
  }
  
  
  #logins {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    }
    
    #entrar {
    grid-column: 2;
    grid-row: 1;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
    padding: 0.4vw;
    padding-top: 0.2vw;
    padding-bottom: 0.4vw;
    color: white;
    border: none;
    background: #ff2a2a;
    border-radius: 5px;
    }
    
    #ou {
    grid-column: 2;
    grid-row: 2;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5vw;
    }
  
  .icons {
    grid-column-start: 1;
    width: 90%;
    margin-left: 5px;
  }
  
  #google {
    padding: 6px 30px;
    font-size: 1vw;
    grid-row-start: 4;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    background: #126BBD;
    border: none;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
  }
  
  #google img.icons {
    width: 20px;
    margin-right: 10px;
  }
  
  #gloog {
    display: grid;
    height: 3.9rem;
   
   
  }
  
  
  #imagem {
    max-width: 100%;
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-self: flex-end;
    z-index: -1;
  }
  
  #cadastrar {
    grid-column-start: 2;
    padding-top:54.5rem;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8rem;
    color: #fafafafa;
  }
  
  #não_conta {
    font-family: 'Josefin Sans', sans-serif;
  }
  
  
  #forgot-password-dialog {
    display: none;
  }
  #forgot-password-btn {
    background-color: transparent;
    border: none;
    color: #008080;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: underline;
  }
  
  #forgot-password-dialog {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    max-width: 400px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #forgot-password-dialog h2 {
    font-family: 'Josefin Sans', sans-serif;
    display: contents;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #00A3FF;
  }
  
  #forgot-password-dialog p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  #forgot-password-dialog label {
    font-size: 19px;
  font-weight: 500;
  margin-bottom: 10px;
  opacity: 0.6;
  
  color: #333;
  }
  
  #forgot-password-dialog input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #333;
  }
  
  #forgot-password-dialog button[type="submit"] {
    background-color: #E02437;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #forgot-password-dialog button#close-dialog-btn {
    background-color: transparent;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  #barra_vermelha {
    background-color: #E02437;
    height: 10px;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 4.8px;
    height: 30px;
  }
  
  /* MEDIA */
  
  @media (max-width: 768px) {
    body {
      grid-template-columns: 100%;
      grid-template-rows: auto;
    }
  
    #container_grande {
      justify-content: center;
    }
  
    #grid_container {
      grid-template-columns: 100%;
      width:100%;
      grid-template-rows: auto;
      justify-content: center;
    }
  
    #div_logo {
      display: grid;
      grid-template-columns: 100%;
      border-bottom-left-radius: 60px;
      width:100%;
      border-bottom-right-radius: 60px;
      background: linear-gradient(to bottom, #E02437, #E02437, #FF5D2A);
    }
  
    #boas_vindas {
      font-size: 24px;
    }
  
    #texto_logo {
      color:white;
      -webkit-text-stroke: 1.4px white;
      font-size: 48px;
    }
  
    #logo {
      content:url('img/logobranca.png');
      width: 60px;
      height: 60px;
    }
  
    form {
      width:65%;
      margin-left: 18vw;
    }
  
    ul {
      grid-column-start: 1;
      display:flex;
      justify-content: center;
    }
  
    ul li {
      font-size: 18px;
    }
  
    label {
      font-size: 20px;
    }
  
    input {
      font-size: 16px;
      padding: 8px;
    }
  
    #esqueceu {
      font-size: 20px;
    }
  
    #ou {
      font-size: 20px;
    }
  
    #entrar {
      font-size: 24px;
      padding: 10px;
    }
  
    #google {
      font-size: 20px;
      padding: 4px;
      width: 70%;
      margin: 15vw;
    }
  
    .icons {
      width: 100%;
      margin-left: 0;
    }
  
    #cadastrar {
      margin-left: 70vw;
      margin-top: 35vw;
    }
  
    #não_conta {
      font-size: 20px;
    }
  
    #cadastre {
      font-size: 20px;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  button{
    cursor: pointer ;
  }